@using Licorera.Models
@model List<CategoriaCLS>


<table class="table table-bordered ">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidcategoria)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>Operaciones</td>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <td>@item.iidcategoria</td>
                <td>@item.nombre</td>
                <td>
                    <button type="button" onclick="Editar(@item.iidcategoria)" class="btn btn-primary glyphicon glyphicon-edit" data-toggle="modal" data-target="#exampleModal"></button>
                    <button type="button" onclick="Eliminar(@item.iidcategoria)" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#exampleModalConfirmacion"></button>

                </td>
            </tr>
        }
    </tbody>
</table>
